name: Build Docker Image
on:
  push:
    branches: [master]

jobs:
    build: 
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repo
          uses: actions/checkout@v4
        - name: Docker Build
          run: docker build -t student-app .
